@media (min-width: 768px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(2, 6fr);
        grid-template-rows: repeat(6, 2fr);
        grid-gap: 16px;
    }
}

@media (min-width: 1024px) {
    .photo-grid {
        display: grid;
        grid-template-columns: repeat(3, 4fr);
        grid-template-rows: repeat(4, 2fr);
        grid-gap: 14px;
    }
}