.video-item__img {
   width: auto;
    min-height: 192px;
    max-width: 100%;
    border-radius: 5px;
    z-index: 1;
}

@media (min-width: 375px) {
    .video-item__img {
        min-height: 200px;
    }
}

@media (min-width: 1024px) {
    .video-item__img {
        min-height: 288px;
    }
}

@media (min-width: 1280px) {
    .video-item__img {
        min-height: 323px;
    }
}