.comments__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    margin: 0 0 16px;
}

@media (min-width: 768px) {
    .comments__title {
        font-size: 42px;
        line-height: 46px;
        margin-bottom: 24px;
    }
}

@media (min-width: 1024px) {
    .comments__title {
        font-size: 72px;
        line-height: 65px;
        margin-bottom: 48px;
    }
}

@media (min-width: 1280px) {
    .comments__title {
        line-height: 108.9%;
    }
}

@media (min-width: 1440px) {
    .comments__title {
        max-width: 840px;
        margin-right: auto;
        margin-left: auto;
    }
}