.place__web-link {
    display: block;
    padding-top: 16px;
    font-size: 18px;
    line-height: 1;
    text-decoration-line: underline;
    letter-spacing: normal;
    text-transform: none;
    color: #FFFFFF;
    transition: .2s ease-in-out;
}

.place__web-link:hover {
    color: #aaaaaa;
}