.comment__blockquote {
    line-height: 23px;
    margin: 0;
}

@media (min-width: 1024px) {
    .comment__blockquote {
        font-size: 14px;
        margin-bottom: 16px;
        order: 2;
    }
}

@media (min-width: 1280px) {
    .comment__blockquote {
        margin-bottom: 24px;
    }
}