.video__subtitle {
    line-height: 23px;
    text-align: center;
    margin: 0 0 24px;
}


@media (min-width: 768px) {
    .video__subtitle {
        font-size: 24px;
        line-height: 35px;
        margin-bottom: 56px;
    }
}

@media (min-width: 1024px) {
    .video__subtitle {
        margin: 0 auto 72px;
        max-width: 640px;
    }
}