.comment__img-wrapper {
    line-height: 0;
    text-align: center;
    margin-bottom: 16px;
}

@media (min-width: 1024px) {
    .comment__img-wrapper {
        margin-bottom: 40px;
        order: 1;
    }
}

@media (min-width: 1280px) {
    .comment__img-wrapper {
        margin-bottom: 42px;
    }
}