.footer__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .footer__nav-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}